[submodule "libs/imgui/imgui-repo"]
	path = libs/imgui/imgui-repo
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
